.h1Left {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.h2 {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.titleText {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.h3 {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400 bold;
    font-style: normal;
}

.label {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
}

.textButtonSubmit {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.p {
    font-family: Poppins, sans-serif;
    font-weight: 400 bold;
    font-size: 14px;
    font-style: normal;
}

.linkMasuk {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
}