.h2 {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
}

.p {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}